{% macro directory(name) -%}
    <tr><td>Directory: </td><td><a href={{ rel_path }}{{ name }}>{{ name }}</a></td></tr>
{%- endmacro %}
{% macro file(name) -%}
    {% if path == "" %}
        <tr><td>File: </td><td><a href=/torrent{{ path }}/{{ name }}>{{ name }}</a></td></tr>
    {% else %}
        <tr><td>File: </td><td><a href=/torrent/{{ path }}/{{ name }}>{{ name }}</a></td></tr>
    {% endif %}
{%- endmacro %}
<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN">
<html lang="en">
    <head>
        <title>Broserv: The Bropad Fileserv</title>
    </head>
    <body>
        <table>
            {% for item, type in listing %}
                {% if type == "directory" %}
                    {{ directory(item) }}
                {% else %}
                    {{ file(item) }}
                {% endif %}
            {% endfor %}
        </table>
        <h1>Upload new File</h1>
        {% if path == "" %}
        <form action="/upload/" method=post enctype=multipart/form-data>
            <p><input type=file name=file>
        <input type=submit value=Upload>
        {% else %}
        <form action="/upload/{{ path }}/" method=post enctype=multipart/form-data>
            <p><input type=file name=file>
        <input type=submit value=Upload>
        {% endif %}
    </form>
    </body>
</html>
