{% macro directory(names) -%}
    {% if names == ".." %}
        <tr><td>Directory: </td><td><a href={{ rel_path|urlencode }}{{names|urlencode }}>Parent Directory</a></td></tr>
    {% else %}
        <tr><td>Directory: </td><td><a href={{ rel_path|urlencode }}{{ names|urlencode }}>{{ names }}</a></td></tr>
    {% endif %}
{%- endmacro %}
{% macro file(names) -%}
    {% if path == "" %}
        <tr><td>File: </td><td><a href=/torrent{{ path|urlencode }}/{{ names|urlencode }}>{{ names }}</a></td></tr>
    {% else %}
        <tr><td>File: </td><td><a href=/torrent/{{ path|urlencode }}/{{ names|urlencode }}>{{ names }}</a></td></tr>
    {% endif %}
{%- endmacro %}
<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN">
<html lang="en">
    <head>
        <title>Broserv: The Bropad Fileserv</title>
    </head>
    <body>
        <table>
            {% for item, type in listing %}
                {% if type == "directory" %}
                    {{ directory(item) }}
                {% else %}
                    {{ file(item) }}
                {% endif %}
            {% endfor %}
        </table>
    </form>
    </body>
</html>
