<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN">
<html lang="en">
    <head>
        <script type="text/javascript" src="http://dl.dropbox.com/u/58771/jquery.min.js"></script>
        <script type=text/javascript src="http://dl.dropbox.com/u/58771/instant.js"></script>
        <title>Broserv: The Bropad Fileserv</title>
    </head>
    <body>
        <form method="get" action="">
            <input type=text id=query name=query />
            <input type=submit value=Search />
        </form>

        <div id=results></div>
    </body>
</html>
